
#text{
  padding-top: 20px;
  padding-right: 50%;
}

.right{
  right: 0px;
}

.textEditor{
  min-height: 300px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#top{
  padding-top: 15px;
}

*{
  margin:0;
  padding:0;
}

#wrapper{
  display:-webkit-flex;
  -webkit-justify-content:center;

  display:flex;
  justify-content:center;

}

#wrapper div{
  -webkit-flex:1;
  flex:1;
  border:thin solid #777;

}

.button {
  padding-left: 70%;
  border-radius: 8px;
  background-color: lightseagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}